/* Overlay styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9); /* Semi-transparent black */
  z-index: 30; /* Behind the menu but above the body content */
}
